.name input {
	width: 300px;
	height: 30px;
}

.table {
	width: 100%;
	text-align: left;

	th {
		font-weight: 100;
		font-size: 14px;
	}

	.tr {
		height: 45px;
	}

	.more-equal {
		display: block;
		width: 20px;
		height: 20px;
		background: url('../../../../icons/moreEqual.png') no-repeat center;
	}

	.less {
		display: block;
		width: 20px;
		height: 20px;
		background: url('../../../../icons/left.png') no-repeat center;
	}

}

.el-icon-minus, .el-icon-plus {
	padding: 7px;
}

.num {
	width: 60px;
}

.el-color-picker__trigger {
	border: none;
	padding: 0;

	.el-color-picker__color {
		width: 60px;
		height: 30px;
		border: none;
	}

	.el-color-picker__color-inner {
		// top: 6px;
	}

	span+span {
		display: none;
	}

}

.btn-add {
	text-align: center;
	margin: 10px 0;
}
